@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f172a;
}

@theme {
  --animate-shimmer: shimmer 1.5s infinite;

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
